
<div class="container-row">
  <h1>Angular stream with RxJS</h1>
  <button class="btn"
          (click)="stop()">Stop interval</button>
  <p>{{num}}</p>
  <button class="btn"
          (click)="nextSubscribe()">next</button>
  <h1>Angular Servises</h1>
</div>
<hr>
<div class="container-row">
  <div>
    <h2>Global Service <span>1</span>:
      {{GlobalService.counter}}</h2>
    <button class="btn"
            (click)="GlobalService.decr()" >+</button>
    <button class="btn"
            (click)="GlobalService.ecr()">-</button>

    <h3>local Service <span>1</span> =
      {{LocalService.counter}}</h3>
    <button class="btn"
            (click)="LocalService.decr()" >+</button>
    <button class="btn"
            (click)="LocalService.ecr()">-</button>

  </div>
</div>

<app-service-wrap>
</app-service-wrap>

<!--<div class="container-row">-->
<!--  <h2>Global Servise:-->
<!--    {{GlobalService.counter}}</h2>-->
<!--  <button class="btn"-->
<!--          (click)="GlobalService.decr()" >+</button>-->
<!--  <button class="btn"-->
<!--          (click)="GlobalService.ecr()">-</button>-->
<!--</div>-->

<!--<div class="container-row">-->
<!--  <h3>local Service =-->
<!--    {{LocalService.counter}}</h3>-->
<!--  <button class="btn"-->
<!--          (click)="LocalService.decr()" >+</button>-->
<!--  <button class="btn"-->
<!--          (click)="LocalService.ecr()">-</button>-->
<!--</div>-->
<!--<hr>-->

<app-create-post
  [myName]="myName"
  [mySecondName]="mySecondName"
  (addDate)="showInfo($event)"
  (twoNames)="usersName($event)"
></app-create-post>
<hr>
<app-show-posts
  *ngIf="date || names"
  [data]="date"
  [names]="names"
  (colorInputValue)="setInputValue($event)"
></app-show-posts>
<app-photo-changer>

</app-photo-changer>
