<!--<p>{{}}</p>-->
<form style="border: 1px solid black; padding: 20px" class="container">
  <input type="color" class="color_input"
         (input)="saveColor($event)">

  <button class="btn color"
          type="submit"
          appColor
          [color]="colorInput"
  ></button>
</form>

<div class="container">
  <p>{{data.name}}</p>
  <p>{{data.secondName}}</p>
  <p>{{data.password}}</p>
  <hr>
  <p>your name is {{names.name}}</p>
  <p>your second name is {{names.secondName}}</p>
</div>
<!--<p>{{one}}</p>-->
<!--<p>{{two}}</p>-->
<!--<p>{{three}}</p>-->
<!--<p>{{}}</p>-->
